:where(html) {
  --color-primary: var(--orange-7);
  --color-darkest: var(--gray-9);
  --color-dark: var(--gray-7);
  --color-medium: var(--gray-6);
  --color-light: var(--gray-3);
  --color-lightest: var(--gray-1);

  --font-heading-1: var(--font-size-8);
  --font-heading-2: var(--font-size-6);
  --font-heading-3: var(--font-size-5);
  --font-heading-4: var(--font-size-4);
  --font-body: var(--font-size-2);
  --font-small: var(--font-size-1);
  --font-x-small: var(--font-size-0);

  --shadow-small: var(--shadow-2);
  --shadow-medium: var(--shadow-4);
  --shadow-large: var(--shadow-6);

  --border-small: var(--border-size-2);
  --border-medium: var(--border-size-3);
  --border-large: var(--border-size-4);

  --radius-small: var(--radius-2);
  --radius-medium: var(--radius-3);
  --radius-large: var(--radius-4);

  --space-x-small: var(--size-1);
  --space-small: var(--size-fluid-1);
  --space-medium: var(--size-fluid-2);
  --space-large: var(--size-fluid-4);
  --space-x-large: var(--size-fluid-5);
  --space-xx-large: var(--size-fluid-7);
}
