html {
  font-family: var(--font-sans);
}

body {
  background-color: var(--surface-2);
  color: var(--text-1);
}

code {
  /* I'm too lazy to fight bootstrap's specificity */
  background-color: var(--surface-3) !important;
  color: var(--text-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-headings);
  font-weight: var(--font-weight-headings);
  border-bottom: none;
  padding: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  margin-block-start: var(--size-m);
  margin-block-end: calc(-1 * var(--size-s));
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

p,
ul,
ol,
dl,
h6 {
  font-size: var(--font-size-main);
}

a,
u,
ins,
abbr {
  text-underline-offset: 1px;

  @supports (-moz-appearance: none) {
    text-underline-offset: 2px;
  }
}

section.level1 {
  margin-block: var(--size-l);
}

section.level2 {
  display: grid;
  gap: var(--size-l);
  grid-template-columns: repeat(auto-fill, var(--size-content-2));
  margin-block-end: var(--size-l);
}

section.token-card {
  background-color: var(--surface-1);
  color: var(--text-1);
  padding: var(--size-l);
  width: 100%;
  border-radius: var(--radius-3);
  border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
  box-shadow: var(--shadow-m);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-template-rows: auto;
  gap: var(--size-m);
}

#sizes > section.token-card,
#colors > section.token-card {
  grid-template-columns: 2fr 1fr;
}

.token-card code {
  background-color: transparent;
}

.token-card > * {
  margin: 0;
  padding: 0;
  max-inline-size: var(--size-content-2);
}

.token-card > p:empty {
  display: none;
}

.token-card > h3,
.token-card > h4 {
  grid-area: span 1 / span 1;
  font-family: var(--font-mono);
  margin: 0;
  border: none;
}

.token-card > *:last-child {
  margin-block: 0;
}

.token-card > *:nth-child(3) {
  grid-area: span 1 / span 1;
}

.token-card > *:nth-child(5) {
  grid-area: span 1 / span 2;
}

.size-demo {
  background-color: var(--brand);
  justify-self: end;
}

.animation-demo {
  background-color: var(--brand);
  color: var(--surface-1);
  padding: var(--size-s);
  width: 50%;
  border-radius: var(--radius-2);
  text-align: center;
}

.animation-demo,
.color-demo {
  box-shadow: var(--shadow-l);
}

.animation-demo.fast {
  --speed: var(--speed-fast);
}

.animation-demo.normal {
  --speed: var(--speed-normal);
}

.animation-demo.slow {
  --speed: var(--speed-slow);
}

.shadow-demo,
.color-demo {
  width: 100%;
  border-radius: var(--radius-2);
}

.animation-demo,
.size-demo,
.color-demo,
.shadow-demo {
  display: inline-block;
  height: 100%;
}

#animation-speeds .token-card:hover .animation-demo {
  animation-name: shuffle;
  animation-iteration-count: infinite;
  animation-duration: var(--speed, 10s);
  animation-timing-function: var(--ease-2);
  color: var(--brand);
}

@keyframes shuffle {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

section.token-card.shadow-none {
  box-shadow: none;
}

section.token-card.shadow-none > h4 {
  font-family: var(--font-sans);
}

section.token-card.shadow-s {
  box-shadow: var(--shadow-s);
}

section.token-card.shadow-m {
  box-shadow: var(--shadow-m);
}

section.token-card.shadow-l {
  box-shadow: var(--shadow-l);
}

#border-thin,
#border-normal,
#border-thick {
  border-color: var(--text-2);
  border-style: solid;
}

#border-thin {
  border-width: var(--border-thin);
}

#border-normal {
  border-width: var(--border-normal);
}

#border-thick {
  border-width: var(--border-thick);
}

#border-optional {
  border-width: var(--border-optional);
}

#radius-s {
  border-radius: var(--radius-s);
}

#radius-m {
  border-radius: var(--radius-m);
}

#radius-l {
  border-radius: var(--radius-l);
}

#radius-pill {
  border-radius: var(--radius-pill);
}

/* Theme chooser styles */
#theme-switcher {
  background-color: var(--surface-2);
  position: sticky;
  top: 0;

  /* Overhang a bit to the left so we don't awkwardly perfect align with the
  edges of the cards */
  margin-left: calc(-1 * var(--size-m));
  padding-inline: calc(var(--size-s) + var(--size-m));
  padding-block: var(--size-xs);
  display: flex;
  gap: var(--size-s);
  align-items: baseline;
}

#theme-switcher > label {
  flex-shrink: 0;
  font-size: var(--font-size-s);
  color: var(--text-2);
}

#theme-switcher > #holder {
  display: flex;
  justify-content: center;
  gap: var(--size-xs);
  flex-wrap: wrap;
}

#theme-switcher * {
  margin: 0;
}
