@import "open-props/colors-hsl.min.css";

:root {
  /* dark */
  --brand-dark-hue: 32;
  --brand-dark-hsl: var(--orange-3-hsl);
  --brand-dark: var(--orange-3);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --text-3-dark: var(--gray-7);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
  --shadow-color-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;
}

[data-shinytheme="dark"],
:root[data-shinytheme="dark"] {
  color-scheme: dark;

  --brand-hue: var(--brand-dark-hue);
  --brand-hsl: var(--brand-dark-hsl);
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --text-3: var(--text-3-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --shadow-color: var(--shadow-color-dark);
  --shadow-strength: var(--shadow-strength-dark);
}
