@import "open-props/colors-hsl.min.css";

[data-shinytheme="grape"],
:root[data-shinytheme="grape"] {
  color-scheme: light;

  --purple-12-hsl: 288 55% 20%;
  --brand-hue: 288;
  --brand-hsl: var(--purple-5-hsl);
  --brand: var(--purple-5);
  --text-1: var(--purple-9);
  --text-2: var(--purple-7);
  --text-3: var(--purple-5);
  --surface-1: var(--purple-0);
  --surface-2: var(--purple-1);
  --surface-3: var(--purple-2);
  --surface-4: var(--purple-3);
  --shadow-color: var(--purple-12-hsl);
  --shadow-strength: 2%;
}
