@import "gray-hsl.css";

:where(html) {
  /* Taken from posit website */
  --brand-light: hsl(209deg 57% 45%);
  --brand-light-hue: 209;

  /* Base of grey-8-hsl */
  --text-light-hs: 210 10%;
  --text-1-light: var(--gray-10);
  --text-2-light: var(--gray-8);
  --text-3-light: var(--gray-6);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;
}

:root:has([choice="light"]),
[color-scheme="light"] {
  color-scheme: light;

  --brand-hue: var(--brand-light-hue);
  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --text-3: var(--text-3-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}
