@import "gray-hsl.css";

:where(html) {
  /* Taken from posit website */
  --posit-gray-h: 240;
  --posit-gray-s: 1%;
  --posit-gray-l: 25%;
  --posit-gray: hsl(
    var(--posit-gray-h) var(--posit-gray-s) var(--posit-gray-l)
  );
  --posit-blue-h: 209;
  --posit-blue-s: 38%;
  --posit-blue-l: 43%;
  --posit-blue: hsl(
    var(--posit-blue-h) var(--posit-blue-s) var(--posit-blue-l)
  );
  --posit-orange-h: 16;
  --posit-orange-s: 85%;
  --posit-orange-l: 56%;
  --posit-orange: hsl(
    var(--posit-orange-h) var(--posit-orange-s) var(--posit-orange-l)
  );

  /* Brand colors */
  --brand-light: var(--posit-blue);
  --brand-light-hue: var(--posit-blue-h);
  --text-1-light: var(--posit-gray);
  --text-2-light: color-mix(in srgb, var(--posit-gray) 82%, white);
  --text-3-light: color-mix(in srgb, var(--posit-gray) 70%, white);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;
}

:root:has([choice="light"]),
html[color-scheme="light"] {
  color-scheme: light;

  --brand-hue: var(--brand-light-hue);
  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --text-3: var(--text-3-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}
